.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: dimgray;
}

.container > div{
max-width: 500px;
margin: auto;
}

h1{
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

p{
    text-align: center;
}


